<div class="form">
  <form [formGroup]="form" (ngSubmit)="showResult()">
    <div>
      <input type="text" formControlName="firstInput" />
    </div>
    <div>
      <input type="text" formControlName="secondInput" />
    </div>

    <div>
      <select (change)="setTypeSelected(selectType.value)" #selectType>
        <option></option>
        <option *ngFor="let item of select1" [value]="item.type">
          {{ item.type }}
        </option>
      </select>
    </div>

    <div *ngIf="typeSelected">
      <select multiple formControlName="list">
        <option></option>
        <option *ngFor="let elt of getValue(typeSelected)" [value]="elt">
          {{ elt }}
        </option>
      </select>
    </div>
    <button type="submit">Valide</button>
  </form>
</div>
